html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next W00", "Avenir Next", Avenir;
}

/* ------------------------------------------------------- */
/* ---- Bottom Tab bar customization Styles ---- */
/* Nav bar styling for small to medium screens */
.slidemenu {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 56px;
  z-index: 1;
  color: white;
  background: white;
  overflow: hidden;
}

/* Tab menu container */
.tab-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Tab menu list item */
.tab-menu li {
  width: 33%;
  text-align: center;
  display: block;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Display block so tab bar fills 100% width of li */
.tab-menu li a {
  display: block;
  padding: 1px;
  color: #666;
  font-size: 12px;
  text-decoration: none;
  outline: none;
}

/* Button color styles */
ul li .none {
  color: black;
  font-weight: bold;
  outline: none;
}
ul li .active {
  color: red;
  font-weight: bold;
  outline: none;
}

/* Icon style */
.slidemenu li .icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 20px;
  border-radius: 50%;
}

/* ------------------------------------------------------- */
/* ---- Card customization ---- */

/* Reverses card collapse direction */
#status-collapse, #phases-collapse, #map-collapse, #help-collapse {
  position: absolute;
  bottom: 56px;
  width: 100%;
}

.card {
  max-height: 300px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  border-left: none;
  border-right: none;
  border-top: none;
}

/* Prevents content overlapping header on scroll */
.card-header {
  position: sticky;
  top: 0;
  height: 70px;
}
.card-body {
  overflow: auto;
}

/* -- Custom cards for 'Current Status' -- */
.status-header {
  background-color: red;
}
.status-collapse-heading, .status-collapse-heading:hover, .status-collapse-heading:focus, .status-collapse-heading:active, .status-collapse-heading:visited {
  color: white;
  text-decoration: none;
}
/* Carrot transition */
.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(180deg);
}

.emergency {
  font-weight: bold;
}
.phase {
  font-size: 14px;
}

/* Tabs */
#layer-carousel {
  font-size: 15px;
}

#test {
  font-size: 15px;
}

/* -- Custom cards for 'Phase'-- */
/* span .phase {
  float: left;
  clear: left;
  font-size: 10px;
  position: relative;
} */


/* .btn-group {
  font-family: "Avenir Next W00", "Avenir Next", Avenir;
} */


/* ------------------------------------------------------- */
/* Esri attribution styling */
.esri-attribution {
  font-size: 7px;
  background-color: rgba(255, 255, 255, 0);
}

/* ------------------------------------------------------- */
/* Carousel  */
.carousel-indicators {
  position: static;
  margin: 2%;
}

.carousel-indicators .item.active {
  background: transparent;
}

/* .carousel-indicators .item.active svg {
	 opacity: 0.7;
} */
.btn-group-sm>.btn, .btn-sm {
  font-size: .8em;
}

.btn-outline-dark {
  border-color: #ddd;
}

/* ------------------------------------------------------- */
/* ---- Media Queries ---- */
/* Very small screen heights and widths (starts at iPhone 5 and below) */
@media (max-width: 320px) {

  /* Tab bar */
  .slidemenu {
    height: 50px;
  }

  .slidemenu li .icon {
    line-height: 17px;
  }

  .tab-menu li {
    padding-top: 6px;
    padding-bottom: 7px;
  }

  /* Cards */


  #status-collapse, #phases-collapse, #map-collapse, #help-collapse {
    bottom: 50px;
  }

  #status-collapse>div>div.card-header.status-header.container-fluid>div:nth-child(1)>div.col.pb-1.d-flex.justify-content-center {
    font-size: 13px;
    margin: 1px;
    padding: 1px
  }

  .phase {
    font-size: 12px;
  }
  .emergency {
    font-size: 13px;
  }

  /* Tabs */
  #layer-carousel {
    font-size: 14px;
  }
  #test {
    font-size: 14px;
  }
}

/* Desktop View (starts at iPad Pro size) */
@media (min-width: 769px) and (min-height: 500px) {

  /* Map div */
  #viewDiv {
    padding-top: 70px;
    padding-bottom: 0;
  }

  /* Tab bar */
  .slidemenu {
    top: 0;
    height: 70px;
  }

  .container-fluid {
    max-width: 700px;
    ;
  }

  .card {
    max-height: 700px;
  }

  .slidemenu li .icon {
    line-height: 30px;
  }

  .tab-menu li {
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .tab-menu li a {
    font-size: 14px;
  }

  /* Cards */
  #status-collapse, #phases-collapse, #map-collapse, #help-collapse {
    top: 85px;
    left: 60px;
    max-width: 350px;
  }
}
